* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f9fc;
    padding: 30px 60px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.nav-buttons button {
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
}

.demo-btn {
    background: #fff;
    border: 1px solid #ccc;
}

.primary-btn {
    background: #000;
    color: white;
}


.hero {
    margin-top: 60px;
}

.version-badge {
    background: #fff;
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #555;
}

.hero h1 {
    margin-top: 25px;
    font-size: 48px;
    line-height: 1.2;
    color: #111;
}

.hero .italic {
    font-style: italic;
    color: #3a3a3a;
}

.hero-text {
    margin-top: 20px;
    font-size: 17px;
    color: #555;
    line-height: 1.5;
}

.hero-buttons {
    margin-top: 30px;
}

.outline-btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}
body {
  background: #f7f7f7;
}

h1 {
  color: red;
}

